section{
    margin: 50px 0;
}
a{
    color: black;
    display: inline-block
}
a:hover{
    text-decoration: none;
    color: #2c7a7b !important;
}
a:hover h3,
a:hover h4{
    color: #2c7a7b !important;
}
button{
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    background: #e5e7eb;
    border: 1px solid #dcdfe6;
    border-color: #e5e7eb;
    color: #4b5563;
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    margin: 0;
    transition: .1s;
    font-weight: 700;
    padding: 12px 12px;
    font-size: 14px;
    border-radius: 6px;
    transition: all 0.5s;
}
button:hover{
    color: #1f2937;
    border-color: #d1d5db;
    background-color: #d1d5db;
}
.button-detail button{
    padding: 10px 20px;
}

.container{
    max-width: 90%;
    margin: auto;
}
.text-button button{
    padding: 5px 10px 5px 0;
    background-color: transparent;
    border-color: transparent;
    color: #2c7a7b;
    font-size: 14px;
}
.carousel-control-next-icon, .carousel-control-prev-icon{
    flex: none;
    padding: 20px;
}
.carousel-control-prev, 
.carousel-control-next{
 flex: none;
 width: 5%;
}
.carousel-control-prev:hover, 
.carousel-control-next:hover{
 background-color: transparent;
}


/* Header */
header{
    position: fixed;
    width: 100%;
    z-index: 99;
    background: white;
}

.headerForm{
    position: relative;
}
.headerForm img{
    position: absolute;
    left: 10px;
}
.headerForm input{
    padding: 0 30px;
}
#navbarSupportedContent ul{
    list-style: none;
}
#navbarSupportedContent ul li a{
    color: black;
    transition: all 0.5s;
}
.navItem-dropdown{
    position: absolute;
    background-color: white;
    left: 47%;
    display: none;
}
.navItem-dropdownContent{
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.navItem-dropdownContent a{
    border-bottom: 0.5px solid lightgray;
    margin-bottom: 20px;
}
 .item{
    display: flex;
    align-items: center;
}
.item img{
    border-radius: 18px;
    border: 1px solid #d1d5db;
    margin-right: 10px;
    width: 35px;
    height: 35px;
}
.item-content h3{
    font-size: 1rem;
    font-weight: bold;
    color: #374151;
    margin: 0;
}
.item-content h4{
    font-size: .875rem;
    color: darkgray;
    margin-top: 10px;
}

.navItem-dropdownTN{
    position: absolute;
    left: 43%;
    display: none;
}
.navItemContent-dropdownTN{
    display: flex;
}
.firstContent{
    background-color: #f6f9fc;
    display: flex;
    flex-direction: column;
}
.secondContent{
    background-color: white;
    display: flex;
    flex-direction: column;
}
.firstContent a h3,
.secondContent a h3{
    text-transform: uppercase;
    font-size: 1rem;
    color: #374151;
    font-weight: 500;
    width: 200px;
    border-bottom: 1px solid lightgray;
    margin-bottom: 20px;
}
.firstContent, .secondContent{
    padding: 30px;
}
.firstContent .text-button , 
.secondContent .text-button {
    text-align: center;
}

.openDrop{
    display: block !important;
}

#navReponsive{
    display: none;
}

/* Carousel */

.carouselItem-content{
    left: 8%;
    position: absolute;
    top: 20%;
    width: 42%;
}
.carouselItem-content h2{
    color: white;
    font-size: 50px;
    font-weight: bold;
}
.carouselItem-content p{
    color: lightgray;
    font-size: 20px;
    margin:  50px 0;
}
.carouselItem-content button{
    padding: 10px 30px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    font-size: 15px;
    transition: all 0.5s;
}
.carouselItem-content button:hover{
    background-color: rgba(0,0,0,0.5);
    transform: scale3d(1.1, 1.2, 1);
}
.carousel-body{
    height: 100vh;
}
.carouselBody-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 100%;
}
.carouselBody-item{
    height: 100%;
    width: 100%;
}
.carouselBody-item img{
    height: 100%;
}

/* Blog */
.blog{
    display: block;
}
.blog-moblie{
    display: none;
}
.blogNews-title h3{
    overflow: hidden;
    display: block;
    font-size: 28px;
    line-height: 2rem;
    margin-bottom: 1px;
    margin-top: 0;
    color: #1f2937;
    font-weight: bold;
    margin: 5px 0

}
.blogNews-description{
    color: #4b5563;
    margin-top: 9px;
    font-size: 14px;
    overflow: hidden;
    letter-spacing: 1px;
}
.text-item{
    margin-bottom: 20px;
}

.text-title{
    font-size: 16px;
    color: black;
    font-weight: bold;
}
.text-item h4{
    font-size: 14px;
    color: #6b7280;
    margin-top: 7px;
    margin-bottom: 2px;
    line-height: 1.2rem;
}
.common-new{
    margin-top: 50px;
}
.common-title h3{
    font-size: 15px;
    color: black;
    margin-top:15px;
    letter-spacing: 2px;
    min-height: 64px;
    display: block;
}

.common-newCard h4{
    font-size: 13px;
    color: darkgray;
    margin-top: 15px;
}

/* Trend */
.trend-header{
    display: flex;
    align-items: center;
    gap: 20px;
}
.trend-header span{
    font-size: 20px;
    font-weight: bold;
}
.charts-trend {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-bottom: 20px;

}
.charts-trend a h3{
    font-size: 18px;
    color: #4b5563;
}
.charts-trend a h4{
    color: #4b5563;
    font-size: 12px;
}

.list-item h4{
    font-size: 13px;
    text-align: center;
    margin-top: 10px;
    color: #374151;
}
.trendRight-content h3{
    font-size: 1.125rem;
    font-weight: 700;
}
.trendRight-button button{
    width: 100%;
}

/*  trend  cource*/

.trend-cources__item {
    background-color: #f6f6f6;
    border-radius: 20px;
    overflow: hidden;
}

.trend-cources__item img {
    object-fit: cover;
    height: 285px;
}

.trend-cources__item div:nth-child(2) h3 a {
    font-size: 16px;
}

.trend-cources__item div:nth-child(2) {
    padding: 16px 32px 32px 32px;
}

.trend-cources__list-group {
    list-style: none;
}
.trend-cources__list-group-item {
    height: 40px;
    line-height: 39px;
    border-bottom: #d1d5db solid 0.5px;
}

.trend-cources__item div:nth-child(3) {
    top: 15px;
    left: 15px;
}

.trend-cources__item div:nth-child(3) {
    background-color: #db0000;
    border-radius: 5px;
    height: 32px;
    width: 49px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* câu hỏi phỏng vấn */

.trend-question__item div:nth-child(1) a img {
    object-fit: cover;
}

.trend-question__item div:nth-child(2) h3 {
    font-size: 1.125rem;
    font-weight: bold;
    line-height: 22px;
    color: #111827;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
    margin: 8px 0;
}

.trend-question__item div:nth-child(2) h4 {
    font-size: 1rem;
    line-height: 26px;
    color: #111827;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
    margin: 8px 0 16px 0;
}

.trend-quotes-item {
    padding: 32px 80px;
    background-color: #edf0f4;
    border-radius: 16px;
}

.trend-quotes-item h3 {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 10px;
}

.trend-quotes-item h4 {
    font-size: 16px;
    color: #131415;
}

.quotes-item1 {
    top: 0;
    left: 0;
    width: 72px;
    height: 62px;
    transform: translate(-30%, -25%);
}

.quotes-item2 {
    bottom: 0;
    right: 0;
    width: 72px;
    height: 62px;
    transform: translate(30%, 25%);
}

.trend-discover__item {
    background-image: url(../img/register_opxesu.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 16px;
    padding: 40px 40px 100px 48px;
}

.trend-discover__item h3 {
    max-width: 622px;
    font-size: 36px;
}
.trend-discover__item h4 {
    max-width: 622px;
    margin: 16px 0;
    font-size: 17px;
    line-height: 27px;
}

.trend-discover__item > div {
    max-width: 500px;
    overflow: hidden;
    border-radius: 8px;
}

.trend-discover__item > div input {
    flex: 1;
    outline: none;
    border: none;
    padding-left: 25px;
    font-size: 14px;
}

.btn--send {
    border-radius: unset;
    background-color: #c23d00;
    border: unset;
    min-width: 102px;
    justify-content: center;
    font-size: 16px;
}

.btn--send:hover {
    cursor: pointer;
    background-color: unset;
}

.siderbar__interview h3,
.siderbar__news h3 {
    font-size: 18px;
    margin: 20px 0 10px 0;
}
.siderbar__interview h4,
.siderbar__news h4 {
    font-size: 13px;
    margin: 13px 0;
}
.siderbar__news h3 {
    background-color: #234e52;
}

footer {
    background-color: #e2e8f0;
    padding-top: 31px;
    margin-top: 62px;
}

.footer__slogan {
    color: #374151;
}

footer ul {
    list-style-type: none;
}
.form__resgister {
    background-color: #dbe3ee;
    display: flex;
    padding: 3px;
    border-radius: 8px;

    margin-bottom: 24px;
}

.form__resgister a {
    background-color: #e2e8f0;
}

.form__resgister input {
    flex: 1;
    outline: none;
    border: none;
    padding-left: 12px;
}

.icon__list li {
    margin: 0 6px;
}
@media only screen and (max-width:992px) {
    /* Header */
    .navbar-toggler-icon{
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
    /* Header navReponsive */
    .openMenuRes{
        display: block !important;
    }
    .navReponsive-header{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    div#navReponsive{
        padding: 15px 30px 30px 30px;
        position: absolute;
        background: white;
        width: 100%;
        margin: 20px;
        top: 0;
        box-shadow: 5px 10px 18px #888888
    }
    #closeNavRes{
        font-size: 50px;
        background-color: transparent;
        border: none;
        color: #2c7a7b;
    }
    .headerFormNavRes{
        position: relative;
    }
    .headerFormNavRes img{
        position: absolute;
        left: 10px;
        top: 18%;
    }
    .headerFormNavRes input{
        width: 80% !important;
        padding: 0 30px;
    }
    a.nav-link{
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #ebeef5;
        margin: 10px 0;
    }
    .dropMenuIcon::after{
        display: inline-block;
        margin-left: 0.255em;
        vertical-align: 0.255em;
        content: "";
        border-top: 0.3em solid transparent;
        border-right: 0;
        border-bottom: 0.3em solid transparent;
        border-left: 0.3em solid;
    }
    .changeButton{
        transform: rotate(90deg);
    }
    .dropMenu{
        padding: 0 10px;
    }
    #dropMenu a button, 
    #dropMenuTN a button{
        color: lightgray;
    }
    #dropMenu a button:hover,
    #dropMenuTN a button:hover{
        color: #2c7a7b;
    }
    /* Carousel */
    .carouselItem-content{
        width: auto;
    }
}
@media only screen and (max-width:778px) {
    /* Carousel */
    .carouselItem-content h2{
        font-size: 30px;
    }
    /*Blog*/
    .blog{
        display: none;
    }
    .blog-moblie{
        display: block;
    }
    .carouselBlog-item img{
        height: 250px;
    }
    .blogNews-title h3{
        min-height: 40px;
    }
    .common-title{
        height: 180px;
    }
    .common-newCard .common-title h3{
        color: #1f2937;
        letter-spacing: normal;
        font-size: 28px;
    }



}